# CODEOWNERS are automatically assigned as possible reviewers to new PRs.

# Global owners (also need to be duplicated in later rules)
* @LucWollants @JonasVHG @grubolsch @bertramakers @steftrenson

# Jenkins / deployment owners
Gemfile* @willaerk @vincentjanv @caterinamennito
Jenkinsfile @willaerk @vincentjanv @caterinamennito
Rakefile @willaerk @vincentjanv @caterinamennito
lib/ @willaerk @vincentjanv @caterinamennito
