/vendor/
/*.yml
!/.travis.yml
/build/
/cache/
/log/
/web/downloads/
/web/uploads/
/web/media/
/web/images
*.pem
phpunit.xml
external_id_mapping_organizer.yml
external_id_mapping_place.yml
.php_cs.cache
