/vendor/
/build/
/cache/
/web/media/
/web/images
*.pem

# Ignore configuration files
config.php
config.*.php

phpunit.xml
external_id_mapping_organizer.yml
external_id_mapping_place.yml
term_mapping_*.yml
.php_cs.cache
.env
.phpunit.result.cache

# Build directories
/pkg
/.bundle
.php-cs-fixer.cache
