search:
  base_url: http://acc.uitid.be/uitid/rest/searchv2
  consumer:
    key: ***
    secret: **
uitid:
  base_url: http://acc.uitid.be/uitid/rest
  consumer:
    key: ***
    secret: ***
cors:
  origins: []
