# Base URL of the silex application. Necessary to generate the IRIs of JSON-LD
# events.
url: http://example.com
uitid:
  consumer:
    key: ***
    secret: ***
  base_url: http://www.uitid.be/uitid/rest/
  apis:
    entry: entry/rest.uitdatabank.be/api/v2
    search: searchv2
sync_with_udb2: true
cors:
  origins: []
log.search: []
log.command_bus:
  #- type: hipchat
  #  token: ***
  #  room: ***
  #  level: ALERT
  - type: file
    path: ../log/command_bus.log
    level: DEBUG
  - type: socketioemitter
    redis:
      host: 127.0.0.1
      port: 6379
    #namespace: ***
    #room: ***
    level: DEBUG
database:
  driver: pdo_mysql
  dbname: ***
  user: ***
  password: ***
  host: 127.0.0.1
swiftmailer.options:
  # This connects to a mailserver at port 1025
  # This is not the standard SMTP port, but the default port of Mailcatcher,
  # a great tool for debugging mail. Check it out! http://mailcatcher.me/
  host: 127.0.0.1
  port: 1025
