search:
  base_url: http://acc.uitid.be/uitid/rest/searchv2
  consumer:
    key: ***
    secret: **
uitid:
  base_url: http://acc.uitid.be/uitid/rest
  consumer:
    key: ***
    secret: ***
cors:
  origins: []
log.search: []
log.command_bus:
  #- type: hipchat
  #  token: ***
  #  room: ***
  #  level: ALERT
  - type: file
    path: ../log/command_bus.log
    level: DEBUG
  - type: socketioemitter
    redis:
      host: 127.0.0.1
      port: 6379
    #namespace: ***
    #room: ***
    level: DEBUG
database:
  driver: pdo_mysql
  dbname: ***
  user: ***
  password: ***
  host: 127.0.0.1
