toggles:
  search-include-places:
    name: search-include-places
    conditions: {}
    status: inactive
  jobs-endpoint:
    name: jobs-endpoint
    conditions: {}
    status: inactive
  import-from-sapi:
    name: import-from-sapi
    conditions: {}
    status: inactive
  uitid-api-key-required:
    name: uitid-api-key-required
    conditions: {}
    status: inactive
  auth0-user-management:
    name: auth0-user-management
    conditions: {}
    status: always-active
