toggles:
  search-include-places:
    name: search-include-places
    conditions: {}
    status: inactive
  label-management:
    name: label-management
    conditions: {}
    status: inactive
  jobs-endpoint:
    name: jobs-endpoint
    conditions: {}
    status: inactive
  import-from-sapi:
    name: import-from-sapi
    conditions: {}
    status: inactive
  import-validate-xml:
    name: import-validate-xml
    conditions: {}
    status: always-active
  variations:
    name: variations
    conditions: {}
    status: inactive
