toggles:
  search-include-places:
    name: search-include-places
    conditions: {}
    status: inactive
  label-management:
    name: label-management
    conditions: {}
    status: inactive
  jobs-endpoint:
    name: jobs-endpoint
    conditions: {}
    status: inactive
