parameters:
	level: 4
	paths:
		- app
		- src
		- tests
		- bootstrap.php
		- web/index.php
	bootstrapFiles:
		- tests/bootstrap.php
	scanFiles:
		- vendor/gridonic/princexml-php/lib/prince.php
	excludePaths:
		- tests/Event/Productions/SimilarEventsRepositoryTest.php
		- tests/Http/Productions/SuggestProductionRequestHandlerTest.php
