<h2>Beheers aanvraag voor organisatie {{ organisationName }}</h2>

<p>Beste {{ firstName }},</p>

<p>Er is een beheer aanvraag voor je organisatie {{ organisationName }} in de UiTdatabank. Ga naar de beheerderspagina om de aanvraag goed- of af te keuren. Beheerders kunnen zowel de organisatie informatie, als de informatie van de gelinkte evenementen aan deze organisatie bewerken.</p>

<p>Vriendelijke groet,<br />
    Het UiTdatabank team.</p>
