{% include 'ownership/partials/_header.html.twig' with {'firstName': firstName, 'title': 'Je beheersaanvraag is geweigerd' } %}

<p>Je aanvraag tot beheer voor de organisatie op de UiTdatabank is geweigerd door de huidige beheerder(s) van de organisatie of door een admin.</p>

<p>Voor meer informatie kan je contact opnemen met <a href="mailto:vragen@uitdatabank.be">vragen@uitdatabank.be</a></p>

{% include 'ownership/partials/_footer.html.twig' %}
