{% set title = 'Beheeraanvraag voor organisatie ' ~ organisationName %}
{% include 'ownership/partials/_header.html.twig' with {'firstName': firstName, 'title': title } %}

<p>Er is een beheeraanvraag voor je organisatie {{ organisationName }} in de UiTdatabank. <a
        href="{{ organisationUrl }}">Ga naar de beheerderspagina</a> om de aanvraag goed- of af te keuren.</p>

<p>Als beheerder in UiTdatabank heb je de nodige rechten om:</p>
<ul>
    <li>
        De organisatie informatie te bewerken zoals de afbeelding, beschrijving, en contactinformatie van de organisatie.
    </li>
    <li>Evenementen georganiseerd door je organisatie aan te maken, te bewerken en te verwijderen.</li>
</ul>

{% include 'ownership/partials/_button.html.twig' with {'organisationUrl': organisationUrl, 'buttonText': 'Ga naar je beheerspagina'} %}

{% include 'ownership/partials/_footer.html.twig' %}
