[
	{ rabbit, [
		{ loopback_users, [ ] },
		{ tcp_listeners, [ 5672 ] },
		{ ssl_listeners, [ ] },
		{ default_pass, <<"vagrant">> },
		{ default_user, <<"vagrant">> },
		{ hipe_compile, false }
	] },
	{ rabbitmq_management, [
		{ listener, [
			{ port, 15672 },
			{ ssl, false }
		] },
		{ load_definitions, "/etc/rabbitmq/definitions.json" }
	] }
].
