<div style="margin: 0 auto; width: 40%;">
    <a style="display:inline-block;background:#029fdf;color:#ffffff;font-family:Verdana,Helvetica,Arial,sans-serif;font-size:13px;font-weight:normal;line-height:120%;margin:0;text-decoration:none;text-transform:none;padding:10px 25px 10px 25px;border-radius:3px; text-align: center;"
       href="{{ organisationUrl }}">{{ buttonText }}</a>
</div>
