<div style="margin:0 auto;max-width:600px;
    color: #535a63;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 22px;
    ">

    <img src="https://assets.uit.be/uitdatabank/entry_api/header.png" alt="{{ title }}" style="width: 100%">

    <p style="border-top:solid 1px #9ec6db;font-size:1px;margin:10px auto;width:100%;">&nbsp;</p>

    <h2 style="line-height:22px;color:#029fdf;font-size:25px;font-family:Roboto;">{{ title }}</h2>

    <p>Beste {{ firstName }},</p>
